<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" *ngFor="let col of gridColumns">
         {{FormatHeader(col.colName)}}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let colData of gridData">
          <td scope="col" *ngFor="let col of gridColumns">
            {{colData[col.colName]}}
           </td>
           <td>
               <button (click)="Delete(colData)" class="btn btn-danger">Delete</button>
           </td>
      </tr>
     </tbody>
  </table>