<h1>Wlecome to {{title}}</h1><br/>
<form [formGroup]="customer.customerFormGroup">
Customer Code: <input formControlName="CustomerCodeControl" [(ngModel)]="customer.CustomerCode" type="text"/><br/>
Customer Name: <input formControlName="CustomerNameControl" [(ngModel)]="customer.CustomerName" type="text"/><br/>
Customer Amount: <input [(ngModel)]="customer.CustomerAmount" [ngModelOptions]="{standalone: true}" type="text"/><br/>
<input [disabled]="!(customer.customerFormGroup.valid)" type="button" (click)="Add()" value="Add"/><br/><br/>
</form>
<div *ngIf="customers.length!=0">
<table >
    <tr>
        <th> Customer Code</th>
        <th>Customer Name</th>
        <th>Customer Amount</th>
    </tr>
    <tr *ngFor="let customer of customers">
        <td>{{customer.CustomerCode}}</td>
        <td>{{customer.CustomerName}}</td>
        <td>{{customer.CustomerAmount}}</td>
    </tr>
</table>
</div>